// base
@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/zeroing";
@import "./base/ibg"; 
@import "./base/select";
@import "./libs/choices.min";

// blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/registration";
@import "./blocks/agreement";
@import "./blocks/grid";
@import "./blocks/popup";
@import "./blocks/rate";
@import "./blocks/profile";

// global styles
._container {
	max-width: $width + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 30px;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	&:before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        height: 100%;
        width: 100%;
        background: url('../img/bg.png') 0 0 repeat;
		z-index: -1;
        @media (max-width: $md3+px){
            display: none;
         }
    }
	&._loaded {
	}
}

.page {
  flex: 1 1 auto;
}

body.hidden{
  overflow: hidden;
}

// media
@import "./base/media";
