@charset "UTF-8";

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Helvetica", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Helvetica", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  height: 60px;
}

.header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 98px;
  height: 30px;
  display: inline-block;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__descr {
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 10px;
  border-left: 1px solid #575757;
  font-size: 12px;
  line-height: 125%;
  color: #575757;
  max-width: 170px;
}

.header__menu {
  margin: 0px 0px 0px 85px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  margin: 0px 20px 0px 0px;
}

.header__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__link span {
  margin: 0px 0px 0px 10px;
  font-size: 16px;
  color: #575757;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 0px 0px;
}

.buttons__btn {
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  margin: 0px 20px 0px 0px;
}

.buttons__btn:last-child {
  margin: 0px 0px 0px 0px;
}

.buttons__btn:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.buttons__account {
  padding: 10px 40px 10px 10px;
  background: #9B51E0;
}

.buttons__account:before {
  width: 20px;
  height: 20px;
  background: url("../img/icons/account.svg") 0 0 no-repeat;
  background-size: contain !important;
}

.buttons__support {
  padding: 10px 32px 10px 10px;
  background: #FFB800;
}

.buttons__support:before {
  width: 12px;
  height: 19.25px;
  background: url("../img/icons/support.svg") 0 0 no-repeat;
  background-size: contain !important;
}

.buttons__telegram {
  padding: 10px 42px 10px 10px;
  background: #39A8DD;
}

.buttons__telegram:before {
  width: 22px;
  height: 20px;
  background: url("../img/icons/telegram.svg") 0 0 no-repeat;
  background-size: contain !important;
}

.registration {
  position: relative;
}

.registration__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
  z-index: 3;
}

.registration__buttons {
  margin: 0px 0px 45px 0px;
}

.registration:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1180px;
  background: url("../img/registration/mainBg.png") 0 0 no-repeat;
  background-size: cover !important;
}

.registration:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50vw - (0.6 - 0.5) * 1160px);
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18.06%, #9B51E0), color-stop(100%, rgba(45, 156, 219, 0.3)), to(rgba(45, 156, 219, 0.5)));
  background: -o-linear-gradient(top, #9B51E0 18.06%, rgba(45, 156, 219, 0.3) 100%, rgba(45, 156, 219, 0.5) 100%);
  background: linear-gradient(180deg, #9B51E0 18.06%, rgba(45, 156, 219, 0.3) 100%, rgba(45, 156, 219, 0.5) 100%);
  z-index: 2;
}

.registration__bg {
  height: 100%;
  width: calc(50vw - (0.6 - 0.5) * 1160px);
  position: absolute;
  top: 0;
  right: 0;
}

.registration__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -20px;
}

.steps-registration__step {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ABAAA6;
  color: #575757;
  font-size: 18px;
  border-radius: 50%;
}

.steps-registration__text {
  font-size: 14px;
  line-height: 143%;
  color: #575757;
  margin: 0px 0px 0px 10px;
}

.steps-registration__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #575757;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0px 20px;
}

.steps-registration__item:last-child {
  border-right: none;
}

.steps-registration__item.active .steps-registration__step {
  background: #FFB800;
  color: #fff;
}

.steps-registration__item.active .steps-registration__text {
  color: #FFB800;
}

.form-registration {
  margin: 60px 0px 0px 0px;
}

.form-registration__title {
  font-size: 24px;
  color: #555555;
  margin: 0px 0px 30px 0px;
}

.form-registration__input {
  background: #fff;
  -webkit-box-shadow: -10px 10px 20px rgba(230, 230, 230, 0.2), 10px -10px 20px rgba(230, 230, 230, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(230, 230, 230, 0.9);
          box-shadow: -10px 10px 20px rgba(230, 230, 230, 0.2), 10px -10px 20px rgba(230, 230, 230, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(230, 230, 230, 0.9);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.form-registration__input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  font-size: 14px;
  color: #555;
}

.form-registration__input input:placeholder {
  font-size: 14px;
  color: #555;
}

.form-registration__input_password input {
  padding: 15px 60px 15px 20px;
}

.form-registration__eye {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 29px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
}

.form-registration__eye svg path {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-registration__eye.active svg path {
  fill-opacity: .9;
}

.form-registration__checkbox input {
  display: none;
}

.form-registration__checkbox input:checked + label:before {
  opacity: 1;
}

.form-registration__label {
  font-size: 14px;
  color: #555555;
  position: relative;
  padding: 0px 0px 0px 25px;
  display: inline-block;
  margin: 0px 0px 20px 0px;
}

.form-registration__label a {
  text-decoration: underline;
  color: #555555;
}

.form-registration__label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #FFB800;
  border-radius: 2px;
}

.form-registration__label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 2.5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #FFB800;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.form-registration__google {
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  border-radius: 10px;
  width: 100%;
  height: 54px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.form-registration__google span {
  position: relative;
}

.form-registration__google span:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  background: url("../../img/registration/google.svg") 0 0 no-repeat;
}

.form-registration__switch {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin: 0px 0px 80px 0px;
}

.form-registration__switch a {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: underline;
}

.form-registration__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 95px 0px;
}

.form-registration__btn {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0 30px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFB800;
  border-radius: 5px;
}

.form-registration__step {
  margin: 0px 0px 0px 35px;
  font-size: 14px;
  color: #575757;
}

.exchange-registration {
  padding: 0px 0px 0px 132px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.exchange-registration__wrapper {
  position: relative;
  z-index: 3;
}

.exchange-registration__title {
  font-size: 38px;
  line-height: 132%;
  color: #fff;
  margin: 50px 0px 40px 0px;
}

.exchange-registration__label {
  font-size: 20px;
  line-height: 125%;
  color: #fff;
  margin: 0px 0px 15px 0px;
}

.exchange-registration__item {
  width: 100%;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin: 0px 0px 10px 0px;
}

.exchange-registration__item:last-child {
  margin: 0px 0px 0px 0px;
}

.exchange-registration__time {
  font-size: 14px;
  color: #555555;
  position: relative;
  padding: 0px 0px 0px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.exchange-registration__time:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url("../img/icons/calendar.svg") 0 0 no-repeat;
}

.exchange-registration__exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.exchange-registration__currency {
  width: 15px;
  height: 15px;
}

.exchange-registration__currency img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exchange-registration__conversion {
  margin: 0 5px;
}

.exchange-registration__conversion img {
  vertical-align: middle;
}

.exchange-registration__sum {
  font-size: 14px;
  color: #555555;
  margin: 0px 0px 0px 5px;
}

.exchange-registration__copy {
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  cursor: pointer;
}

.exchange-registration__copy img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

._container {
  max-width: 1160px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.hidden {
  overflow: hidden;
}

/**
@media (min-width: 992px){
   &:hover{

   }
}
*/

@media (min-width: 991.98px) {
  .form-registration {
    max-width: 360px;
  }
}

@media (min-width: 992px) {
  .header__link:hover span {
    color: #9B51E0;
  }

  .form-registration__eye:hover svg path {
    fill-opacity: .9;
  }

  .form-registration__eye.active:hover svg path {
    fill-opacity: .5;
  }

  .form-registration__label a:hover {
    text-decoration: none;
  }

  .form-registration__switch a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1280px) {
  .form-registration__switch {
    margin: 0px 0px 40px 0px;
  }

  .form-registration__footer {
    margin: 0px 0px 60px 0px;
  }

  .exchange-registration {
    padding: 0px 0px 0px 100px;
  }

  .exchange-registration__title {
    line-height: 120%;
  }
}

@media (max-width: 1172px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }

  .header__link span {
    font-size: 15px;
  }

  .registration:after {
    width: 43%;
  }

  .registration__bg {
    width: 43%;
  }

  .steps-registration {
    margin: 0 -10px;
  }

  .steps-registration__step {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
    font-size: 16px;
  }

  .steps-registration__text {
    font-size: 12px;
  }

  .steps-registration__item {
    padding: 0 10px;
  }

  .form-registration {
    margin: 40px 0px 0px 0px;
  }

  .form-registration__footer {
    margin: 0px 0px 40px 0px;
  }

  .exchange-registration {
    padding: 0px 0px 0px 60px;
  }

  .exchange-registration__title {
    font-size: 30px;
  }

  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .header__descr {
    display: none;
  }

  .header__list li {
    margin: 0px 15px 0px 0px;
  }

  .header__link span {
    font-size: 14px;
    margin: 0px 0px 0px 5px;
  }

  .buttons__btn {
    margin: 0px 10px 0px 0px;
    font-size: 12px;
  }

  .buttons__account {
    padding: 10px 35px 10px 10px;
  }

  .buttons__support {
    padding: 10px 28px 10px 10px;
  }

  .buttons__telegram {
    padding: 10px 38px 10px 10px;
  }

  .buttons__telegram:before {
    width: 20px;
    height: 18px;
  }

  .steps-registration__step {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    height: 20px;
    font-size: 14px;
  }

  .steps-registration__text {
    font-size: 10px;
    margin: 0px 0px 0px 5px;
  }

  .form-registration__title {
    font-size: 22px;
  }

  .form-registration__switch {
    font-size: 16px;
  }

  .form-registration__step {
    margin: 0px 0px 0px 20px;
  }

  .exchange-registration__title {
    font-size: 26px;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: auto;
  }

  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    height: 60px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .header__menu {
    margin: 0px 0px 0px 0px;
  }

  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list li {
    margin: 0px 7px 20px 7px;
  }

  .header__list li:last-child {
    margin: 0px 7px 20px 7px;
  }

  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .buttons__btn {
    margin: 0px 0px 10px 0px;
  }

  .buttons__account {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
    width: 20px;
    height: 20px;
    font-size: 0;
  }

  .buttons__account:before {
    background: url("../img/icons/accountMob.svg") 0 0 no-repeat;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .registration__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .registration:before {
    display: none;
  }

  .registration:after {
    display: none;
  }

  .registration__bg {
    display: none;
  }

  .steps-registration {
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 190px;
  }

  .steps-registration__step {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    font-size: 20px;
  }

  .steps-registration__text {
    font-size: 14px;
    margin: 0px 0px 0px 10px;
  }

  .steps-registration__item {
    border-right: none;
    padding: 0;
    margin: 0px 0px 20px 0px;
    width: 100%;
  }

  .steps-registration__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .form-registration {
    margin: 70px 0px 0px 0px;
  }

  .form-registration__title {
    font-size: 24px;
  }

  .form-registration__google {
    margin: 0px 0px 20px 0px;
  }

  .form-registration__footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .exchange-registration {
    padding: 0px 30px 30px 30px;
    margin: 0 -30px;
  }

  .exchange-registration:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18.06%, #9B51E0), color-stop(100%, rgba(45, 156, 219, 0.3)), to(rgba(45, 156, 219, 0.5)));
    background: -o-linear-gradient(top, #9B51E0 18.06%, rgba(45, 156, 219, 0.3) 100%, rgba(45, 156, 219, 0.5) 100%);
    background: linear-gradient(180deg, #9B51E0 18.06%, rgba(45, 156, 219, 0.3) 100%, rgba(45, 156, 219, 0.5) 100%);
    z-index: 2;
  }

  .exchange-registration::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/registration/bg.png") 0 0 no-repeat;
  }

  .exchange-registration__title {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }

  .exchange-registration__label {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
  }

  ._container {
    max-width: none;
    padding: 0 30px;
  }
}

@media (max-width: 479.98px) {
  .form-registration__google {
    font-size: 14px;
  }

  .form-registration__btn {
    height: 40px;
    padding: 0 15px;
  }

  .exchange-registration__item {
    padding: 0 5px;
  }

  .exchange-registration__time {
    font-size: 12px;
    padding: 0px 0px 0px 20px;
  }

  .exchange-registration__sum {
    font-size: 12px;
  }
}

@media (max-width: 359px) {
  .exchange-registration__time {
    font-size: 10px;
  }

  .exchange-registration__sum {
    font-size: 10px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .exchange-registration__time {
    font-size: 10px;
    padding: 0px 0px 0px 0px;
  }

  .exchange-registration__time:before {
    display: none;
  }

  .exchange-registration__sum {
    font-size: 10px;
  }
}

.webp .registration:before{ background: url(../img/registration/mainBg.webp) 0 0 no-repeat; }

@media (max-width: 767.98px){

  .webp .exchange-registration::before{ background: url(../img/registration/bg.webp) 0 0 no-repeat; }
}